include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/canadian_theme *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/canadian_theme/migration *.ini *.py *.mako
recursive-include ckanext/canadian_theme/public *.*
